/* スタート画面共通スタイル */
body {
    margin: 0;
    padding: 0;
    /* Google フォントを適用 */
    font-family: "Noto Sans JP", "Zen Maru Gothic", sans-serif;
}

/* 背景画像を明るくするクラス */
.bright-background {
    filter: brightness(1.3); /* 明度を30%アップ */
}

/* スタート画面用の背景画像を設定 */
.start-screen-background {
    /* 画像を全画面に表示し、中央に配置 */
    background-image: url("images/title.webp");
    background-size: cover;
    background-position: center;
}

